body {
    align-content: center;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas:
        "header   header header"
        "main main   main"
        "footer   footer footer";
}
p {
    background-color: white;
    border: 15px solid black;
    padding: 20px;
    margin: 35px;
}
.contenido {
    grid-area: main;
}
.cabecera{
    grid-area:header;
}
.pie{
    grid-area:footer;
}
.fondo {
    width: 99%;
    height: 100%;
    background-image: url('https://fondosmil.com/fondo/80683.jpg');
    background-repeat: no-repeat;
}